@{
    ViewBag.Title = "Catalogo";
}
<h2>@ViewBag.Title.</h2>
<div class="card-group">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://www.cartelera.com.uy/imagenes_espectaculos/moviedetail13/17431.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Pixels</h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sala</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">3</th>
                                <td>2:25 PM </td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>5:30 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>8:00 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://www.kino.dk/sites/default/files/movie-posters/jumanji-plakat.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Jumanji</h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sala</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>1:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>3:30 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>6:45 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://th.bing.com/th/id/OIP.O4QaF_iot-44CKEeQJXndgHaHa?pid=Api&rs=1" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">No se aceptan devoluciones</h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sala</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2</th>
                                <td>1:25 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>4:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>7:45 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="http://autocinegetxo.com/wp-content/uploads/2016/11/Dora.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Dora y la ciudad perdida</h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sala</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>2:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>5:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>8:45 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="http://www.cartelera.com.uy/imagenes_espectaculos/moviedetail13/22847.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">La liga de la justicia</h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sala</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">4</th>
                                <td>12:30 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>6:45 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>9:30 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.pinimg.com/originals/08/fd/a9/08fda99b77a076bfe23905e146cdfb62.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Interestelar</h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sala</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>3:30 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>6:30 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>9:00 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="http://es.web.img2.acsta.net/r_1280_720/pictures/18/03/16/15/33/3988420.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Avengers Infinite war</h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sala</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2</th>
                                <td>11:30 AM</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>2:30 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>6:00 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://bucket.glanacion.com/anexos/fotos/cartelera/wifi-ralph-c_8297gr.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Ralph</h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sala</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">5</th>
                                <td>12:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>4:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>7:00 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://cr00.epimg.net/radio/imagenes/2019/03/01/entretenimiento/1551455794_416050_1551455988_noticia_normal.jpg" class="card-img" alt="cover">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">IT Parte 2</h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sala</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">8</th>
                                <td>11:00 AM</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>2:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>5:00 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.pinimg.com/originals/e5/0b/44/e50b4430e5061d5bb2c27c8e7ae4e683.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Spiderman</h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sala</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">5</th>
                                <td>1:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>4:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>8:00 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>